[submodule "apple-private-apis"]
	path = apple-private-apis
	url = git@github.com:OpenBubbles/apple-private-apis.git
[submodule "open-absinthe"]
	path = open-absinthe
	url = git@github.com:OpenBubbles/OpenAbsinthe-Stub.git
